.btn {
  --bg-color: var(--neutral-800);
  --fg-color: var(--acc-color, var(--neutral-0));

  --border-color: var(--acc-color, var(--neutral-0));

  padding: 0.5em 1em;
  border-radius: 0;
  border: 2px solid var(--border-color);
  font: inherit;

  display: inline-grid;
  place-content: center;

  background: var(--bg-color);
  color: var(--fg-color);
  text-decoration: none;

  &:not(:is(.disabled, [disabled])) {
    cursor: pointer;
  }

  &:is(.disabled, [disabled]) {
    cursor: not-allowed;
    filter: saturate(0.2) brightness(1.1);

    --fg-color: var(--neutral-500);
    --border-color: var(--neutral-500);
  }

  &.-fill {
    --bg-color: var(--acc-color, var(--hsl-primary));
    --fg-color: var(--acc-color-contrast, var(--color-primary-contrast));
  }

  &.-round {
    border-radius: 50%;
    padding: 0;
  }

  &.-sm {
    padding: 0.1em 0.2em;
  }

  &.-inline {
    display: grid;
    grid-auto-flow: column;
    gap: 0.5em;
  }
}
