.btn {
  border-radius: 4px;
  border: 2px solid;
  min-width: 60px;
  min-height: 40px;
  font-size: 14pt;

  display: grid;
  align-content: center;
}

.btn-vivid {
  color: $vivid;
  border-color: $vivid;

  background: $dim;
}
.btn-success {
  color: $earth;
  border-color: $earth;

  background: $dim;
}
.btn-bland {
  color: #DDD;
  border-color: #DDD;

  background: $dim;
}
