.code-example {
  .header {
    display: flex;
    gap: 0.5em;
    justify-content: space-between;
    align-items: center;

    > .actions {
      margin-inline-start: auto;
    }

    .toggle {
      cursor: pointer;
      width: 2ch;
      height: 2ch;
      display: grid;
      place-content: center;
      transform: rotate(-90deg);
    }
  }

  .code {
    text-align: left;
    background: var(--primary-900);
    border: var(--neutral-400) 1px solid;
    padding: 0.5rem;
    white-space: pre-wrap;

    margin: 0;
  }

  &:not(.expanded) {
    .toggle {
      transform: rotate(90deg);
    }
    .code {
      display: none;
    }
  }
}

