.progressbar {
  border-radius: 0.25rem;
  overflow: hidden;
  line-height: 0;

  box-shadow: 1px 1px 0 0 var(--neutral-200);
  background: rgba(var(--neutral-200), 0.1);

  .chunk {
    display: inline-block;
    height: 0.5rem;

    width: calc(var(--done) * 100%);
    background-color: var(--acc-color, var(--primary-500));
  }
}
