.progressbar {
  --size: 0.5rem;
  border-radius: 0.25rem;
  overflow: hidden;
  line-height: 0;

  display: flex;

  box-shadow: 1px 1px 0 0 var(--neutral-200);
  background: rgba(var(--neutral-200), 0.1);

  .chunk {
    background-color: var(--acc-color, var(--primary-500));
  }

  &:not(.-vertical) {
    height: var(--size);

    .chunk {
      width: calc(var(--done) * 100%);
    }
  }

  &.-vertical {
    width: var(--size);
    flex-direction: column;

    .chunk {
      height: calc(var(--done) * 100%);
    }
  }
}
