.tile {
  .tile-body {
    padding: var(--tile-padding, 0.5rem);
  }

  &[data-bg="brighten"] {
    background-color: hsl(var(--hsl-light) / 0.2);
  }

  &[data-bg="darken"] {
    background-color: hsl(var(--hsl-dark) / 0.2);
  }
}

:is(.tile, .tile-body).row {
  .actions {
    margin-inline-start: auto;
  }
}
